.title{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    &_left{
        font-size: 36px;
        text-align: left;
        color: #ffffff;
    }
}